@import "tailwindcss";


.input { @apply border rounded-lg p-2 w-full  outline-none; }
.btn-primary { @apply bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700; }
.btn-secondary { @apply bg-gray-300 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-400; }
